*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo {
    color: rgb(50, 96, 40);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 600px;
    background: #dccfd1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a50329f, #598cea9a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a50329f, #598cea9a), url(img/portada.png);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}
nav > a:hover{
    text-decoration: underline;
    color: rgb(216, 216, 216);
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 100px;
    color: white;
}
.textos-header h2{
    font-size: 30px;
    color: white;
    font-weight: 300;
}
.ola{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 30px;
}
.contenido-textos p{
    padding: 0 0 30px 0px;
}
.porfolio {
    background: url(img/portada2.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.galeria-por{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-por{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 200px;
}
.imagen-por > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-color: hsla(201, 76%, 31%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-galeria p{
    color: white;
}
.imagen-por:hover .hover-galeria{
    transform: scale(1);
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.servicio-count {
    
}

